services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    depends_on:
      - postgres
    tty: true
    stdin_open: true
    command: sleep infinity
  postgres:
    platform: linux/amd64
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: "tvmaze"
      POSTGRES_PASSWORD: "DevPassword!23"
      POSTGRES_DB: "tvmaze"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
